<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="https://about.me/venkateshmacha" target="_blank">About</a></li>
        		<li><a href="/js">Lab</a></li>
			<li><a href="/blog">Blog</a></li>
        		<li><a href="http://www.sillycodes.com" target="_blank">My WebSite</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:mvenkatesh431@gmail.com">E-Mail</a></li>
        		<li><a href="https://github.com/mvenkatesh431">GitHub</a></li>
				</ul>
			</footer>
		</body>
	</html>
